body{
    margin:0;
    padding: 0;
    font-family: var(--font-primary);
    color: var(--primary-text-color);
    background-color: var(--main-background-color);
}
main {
    padding-top: var(--header-height-mobile);
    width: 100%;
    max-width: 100%;
}
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}
.hero-section,
.carousel,
#shop,
#categorySelect,
#productFeed,
footer {
    width: 100%;
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}
button,
input,
select,
textarea {
    font: inherit;
}


.hero-section{
  background-image: url("../assets/images/heroimage-mobile.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 600px;
  z-index: 0;
}


@media (min-width: 600px) {
    .hero-section {
        background-image: url("../assets/images/heroimage-tablet.png");
    }
}
@media (min-width: 1300px) {
    .hero-section {
        background-image: url("../assets/images/heroimage-desktop.png");
        min-height: 700px;
         background-position: center bottom;
    }
}