
.modal {
    border: 10px solid var(--warning-color);
    width: 80%;
    padding: 20px;
    min-height: 50vh;
}

.modal h1{
    color: var(--warning-color);
}
.modal .modal-btn{
    border: 2px solid var(--border-color);
   border-radius: 10px;
   min-height: 48px;
}

.modal-content {
    padding: 2%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 200px;

   
}
.modal-close {
   
    background-color: inherit;
    font-size: var(--h1-font-size);
    
}
.modal-message{
    min-width: 65vw;
    margin-bottom: 50px;
    margin-left: 10%;
}

.x-close{
    border: none;
    position: absolute;
    top: 0; 
    right: 10px;

}
.modal-btn{
    min-width: 65vw;
    margin-left: 5%;
     border: 1px solid var(--border-color);
}
.modal::backdrop {
    background: rgba(0, 0, 0, 0.85);
}

@media (min-width: 900px){
    .modal {
 
    width: 50%;
 
}
.modal-message{
    min-width: 25vw;
   
}
.modal-btn{
    min-width: 25vw;
  
}

}